#root {
  height: 100%;
} 
#networks {
  background: rgb(56, 55, 55);
  height: 50px;
}
#columns {
  margin-top: 5px;
  margin-bottom: 5px;
  height:100%;
}
.modelRender {
  height: 100%;
  width: 30%;
}
.box {
  height: 100%;
}
input[type=checkbox] {
  display:none;
}  
input[type=checkbox] + label {
  background: rgb(194, 192, 192);
  height: 16px;
  width: 16px;
  display:inline-block;
  padding: 0 0 0 0px;
}
input[type=checkbox]:checked + label {
  background: rgb(1, 99, 197);
}
input[type=checkbox]:checked + span:not(.lever)::before {
  top: -4px;
  left: -5px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #0d64ea;
  border-bottom: 2px solid #0d64ea;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
label {
  font-size: .8rem;
  color: #363636;
}