#root {
  height: 100%;
} 
#networks {
  background: rgb(56, 55, 55);
  height: 50px;
}
#columns {
  margin-top: 5px;
  margin-bottom: 5px;
  height:100%;
}
.modelRender {
  height: 100%;
  width: 30%;
}
.box {
  height: 100%;
}
input[type=checkbox] {
  display:none;
}  
input[type=checkbox] + label {
  background: rgb(194, 192, 192);
  height: 16px;
  width: 16px;
  display:inline-block;
  padding: 0 0 0 0px;
}
input[type=checkbox]:checked + label {
  background: rgb(1, 99, 197);
}
